body{
      background: linear-gradient(45deg, #96929b, #7597de);
}
.logo{
    font-size: 30px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    color: white;
    background-color: #704b9e;
    padding: 10px 20px;
    border-radius: 5px;

}
.nav a:hover{
    background-color: rgb(89, 105, 119);

}